#navbar{
   border: 2px solid black;
    padding: 20px;
    color: white;
    text-align: center;
    width: 100vw;
    height: 20vh;
}
.box{
    border: 2px solid black;
    padding: 20px;
    color: white;
    text-align: center;
    width: 40vw;
    height: 30vh;
}